:root {
  --white: #e9eaec;
  --foreground: #494d73;
  --gray: #bcbdbe;
  --dark: #222437;
  --highlightYellow: #fad02c;
}
body {
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;

  color: var(--white);
  /* background: rgb(36, 125, 190);
  background: linear-gradient(
    137deg,
    rgba(36, 125, 190, 1) 12%,
    rgba(23, 28, 99, 1) 49%,
    rgba(0, 0, 22, 1) 100%
  ); */

  background: var(--dark);
}

img {
  height: 2rem;
}

header {
  margin: 1rem;
  width: 90%;
  max-width: 500px;
}

label {
  display: none;
}

.searchContainer {
  display: flex;
  position: relative;
  margin: 0 auto;
}

.highlight {
  color: var(--highlightYellow);
}

.searchContainer,
.searchContainer > * {
  /* border: 1px solid; */
  width: max-content;
  /* width: 90%; */

  width: 100%;
  margin: 0;

  border-radius: 25px;
}

.searchContainer > input[type="text"] {
  height: 2rem;
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border: 0;

  background: none;
  outline-color: var(--white);
  border: 2px solid var(--white);

  color: var(--white);
}

.searchContainer > input[type="text"]::placeholder {
  color: var(--white);
}

.searchContainer > input[type="submit"] {
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  border: 1px solid var(--highlightYellow);

  margin-right: 0.5rem;

  background-image: url(assets/sun.jpg);
  background-size: cover;
}

/* weather info */

main {
  width: 90%;
  max-width: 500px;
}
.weatherInfo {
  /* border: 1px solid; */

  border-radius: 10px;

  display: grid;
  grid-template-areas:
    "today today today today today today "
    "weather weather weather weather weather weather"
    "weather weather weather weather weather weather"
    "loc loc loc loc loc loc";

  padding: 1rem;

  background: var(--foreground);
}
.date,
.weather {
  display: flex;
  justify-content: space-between;
}

.date {
  grid-area: today;
  margin-bottom: 1rem;
}

.weather {
  grid-area: weather;
}

.location {
  color: var(--gray);
  grid-area: loc;
  margin-top: 1rem;
  white-space: nowrap;
}

.temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.currentTempContainer > .highlight {
  font-size: 3rem;
}

.currentTemp {
  font-size: 5rem;
}

.tempDisplay > img {
  width: 10rem;
  height: auto;
}

/* forecast */

.forecastControl {
  display: flex;
  gap: 3rem;
  margin: 1rem 0;
}

.forecast {
  display: flex;
  gap: 1rem;

  /* border: 1px solid; */
  padding: 1rem;
  padding-left: 0;

  overflow: auto;
  white-space: nowrap;
}

.forecastInfo {
  flex-shrink: 0;

  padding: 1rem;
  width: 6rem;

  border-radius: 10px;
  background: var(--foreground);
}

.forecastDetails {
  display: flex;
  flex-direction: column;
}

.fcTimes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fcTime {
  color: var(--gray);
}
.fcDetailsImg {
  align-self: flex-end;
}

/* details */

.detailBoxContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0;
}

.detailBox {
  padding: 1rem 1rem;
  /* border: 1px solid; */
  border-radius: 10px;
  height: 5rem;
  background: var(--foreground);
}

.detailBoxInfoData {
  font-size: 2.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
