:root {
  --text-color: #e9eaec;
  --foreground: #494d73;
  --gray: #bcbdbe;
  --background: #222437;
  --highlightYellow: #fad02c;
  --dailyLow: #bcbdbe;
  --dailyHigh: #e9eaec;

  --transition-delay: 1s;
}

body.day {
  --text-color: #000000;
  --foreground: #e1e4e7;
  --gray: #000000;
  --background: #b4bcc5;
  --highlightYellow: #ff8c42;
  --dailyLow: #9b9b9b;
  --dailyHigh: var(--text-color);
}

body {
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;

  color: var(--text-color);
  background: var(--background);

  transition: var(--transition-delay);
}

img {
  height: 2rem;
}

header {
  margin: 1rem;
  width: 90%;
  max-width: 500px;
}

.error {
  margin: 0.5rem;
  text-align: center;
}

label {
  display: none;
}

.searchContainer {
  display: flex;
  position: relative;
  margin: 0 auto;
}

.highlight {
  color: var(--highlightYellow);
}

.searchContainer,
.searchContainer > * {
  width: max-content;

  width: 100%;
  margin: 0;

  border-radius: 25px;
}

.searchContainer > input[type="text"] {
  height: 2rem;
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border: 0;

  background: none;
  outline-color: var(--text-color);
  border: 2px solid var(--text-color);

  color: var(--text-color);
}

.searchContainer > input[type="text"]::placeholder {
  color: var(--text-color);
}

.searchContainer > input[type="submit"] {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: var(--background); */

  /* border: 1px solid var(--highlightYellow); */

  border: none;

  margin-right: 0.5rem;
  /* padding: 0.5rem; */
  color: var(--text-color);
  background-color: var(--background);

  /* background-image: url(assets/searchIcon.png); */
  /* background-size: cover; */
}

/* weather info */

main {
  width: 90%;
  max-width: 500px;
}
.weatherInfo {
  /* border: 1px solid; */

  border-radius: 10px;

  display: grid;
  grid-template-areas:
    "today today today today today today "
    "weather weather weather weather weather weather"
    "weather weather weather weather weather weather"
    "loc loc loc loc loc loc";

  padding: 1rem;

  background: var(--foreground);
}
.date,
.weather {
  display: flex;
  justify-content: space-between;
}

.date {
  grid-area: today;
  margin-bottom: 1rem;
}

.weather {
  grid-area: weather;
  gap: 1rem;
}

.locationImg {
  color: var(--highlightYellow);
}
.location {
  color: var(--gray);
  grid-area: loc;
  margin-top: 1rem;
  white-space: nowrap;
}

.temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.currentTempContainer {
  display: flex;
}
.currentTempContainer > .highlight {
  font-size: 2rem;
}

.currentTemp {
  font-size: 5rem;
}

/* .realTemp {
  margin: 1rem;
} */

.tempDisplay {
  display: flex;
  flex-direction: column;
}

.conditions {
  text-align: center;
  /* margin: 1rem; */
}
.tempDisplay > img {
  width: 10rem;
  height: auto;
}

.fcHighlight {
  color: var(--highlightYellow);
}

.switchTempBtn {
  color: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 0.5rem;
  transition: 1s;
  transform: scale(1);
}

/* forecast */

.forecastControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin: 1rem 0;
}

.forecast {
  display: flex;
  gap: 1rem;

  /* border: 1px solid; */
  padding: 1rem;
  padding-left: 0;

  overflow: auto;
  white-space: nowrap;
}

.forecastInfo {
  flex-shrink: 0;

  padding: 1rem;
  width: 6rem;

  border-radius: 10px;
  background: var(--foreground);
}

.forecastDetails {
  display: flex;
  flex-direction: column;
}

.fcTimes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fcTime,
.fcTemp {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}

.fcDetailsImg {
  align-self: flex-end;
}

.fcLow,
.fcHigh {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.fcLow > .highlight,
.fcHigh > .highlight {
  font-size: 0.9rem;
  align-self: flex-start;
}

.fcLow > .fcTempInfo {
  color: var(--dailyLow);
}
.fcHigh > .fcTempInfo {
  color: var(--dailyHigh);
}
.fcTempInfo {
  font-size: 1.2rem;
}

/* details */

.detailBoxContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0;
}

.detailBox {
  padding: 1rem 1rem;
  /* border: 1px solid; */
  border-radius: 10px;
  height: 5rem;
  background: var(--foreground);
}

.detailBoxTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.detailBoxInfoData {
  font-size: 2.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
}

.dataDegree,
.dataPercent,
.speedMetric {
  font-size: 1.5rem;
  color: var(--highlightYellow);
}

.dataDegree {
  align-self: flex-start;
}

/* effects */

/* Media queries */

@media only screen and (min-width: 768px) {
  body {
    justify-content: space-evenly;

    border: 1px solid;
  }

  header {
    /* justify-self: center; */
    /* width: 100vw; */
    /* grid-area: search;
    justify-self: center; */

    margin-bottom: 3rem;
  }

  main {
    display: flex;
    justify-content: space-evenly;

    /* width: 100%; */
    max-width: 100%;
    gap: 2rem;
    /* width: 100%; */
    border: 1px solid;
    /* display: grid;
    min-width: 90vw;
    width: fit-content;
    grid-template-areas: "dt wt fc";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    border: 1px solid;
    position: relative; */
  }

  .weatherInfo,
  .forecast,
  .detailBoxContainer {
    flex: 1 1 auto;
    width: 100%;
    /* width: 500px; */
  }

  .weatherInfo {
    flex-grow: 2;

    order: 2;
  }

  .locationContainer {
    display: flex;
    align-items: center;
  }

  .location {
    margin: 0;
  }

  .forecastWrapper {
    border: 1px solid red;
    width: 100%;
    position: relative;
    order: 3;

    flex-shrink: 1;
  }

  .forecastControl {
    position: absolute;
    width: 100%;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
  }
  .forecast {
    /* padding: 0 1rem; */
  }

  .detailBoxContainer {
    flex-shrink: 1;
    order: 1;
  }
  .forecast {
    flex-direction: column;
    overflow: visible;
    white-space: normal;
    width: 100%;
  }

  .forecastInfo {
    position: relative;
    box-sizing: border-box;
  }

  .fcDetailsImg {
    position: absolute;

    right: 9rem;

    top: 50%;
    transform: translateY(-50%);
  }

  .forecastInfo {
    /* padding-left: 0; */
    /* padding-right: 0; */
    width: 100%;
  }

  .forecastDetails,
  .fcTimes,
  .fcTemp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .fcTimes,
  .fcTemp {
    gap: 2rem;
  }

  .fcTimes {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-between;
  }

  .detailBoxContainer {
    grid-template-rows: max-content, max-content;
    gap: 0;
  }

  .detailBox {
    width: 8rem;
    justify-self: center;
    align-self: center;
  }

  .miniTitle,
  .switchTempBtn,
  .fcHighlight {
    white-space: nowrap;
  }

  .switchTempBtn:hover {
    cursor: pointer;
    color: var(--highlightYellow);
    border-color: var(--highlightYellow);
    transform: scale(1.1);
  }

  input[type="submit"]:hover {
    cursor: pointer;
  }
}
